@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Archivo Narrow', sans-serif;
}

canvas {
  cursor: default;
  width: 100%;
}

#save {
  position: absolute;
  bottom: 20px;
  left: 50%;
  height: auto;
  width: 100px;
  margin-left: -75px;
  background-color: #16a085;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
}

#save:hover {
  background-color: #10826B;
}

#clear {
  position: absolute;
  bottom: 20px;
  left: 50%;
  height: auto;
  width: 100px;
  margin-left: 30px;
  background-color: #e74c3c;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}

#clear:hover {
  background-color: #c0392b;
}

p {
  position: absolute;
  left: 0;
  right: 0;
  margin: -18px auto 0;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 18px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
     not supported by any browser */
}
.documents,p{
  color: #fff;
}

.made-with-love {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font-size: 10px;
  z-index: 9999;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}
